.wheatherWrapper {
  background: #1b1b1f;
  padding:  1.5rem;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: relative;
}

.wheatherAddress{
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 1rem;

  background: #202024;
}

.wheatherAddress legend {
  align-items: center;
  padding: 1.5rem;
}

.wheatherAddress label {
  padding: 1.2rem;
  font-size: 1.2rem;
  background: #29292e;
  font-weight: bold;
  text-align: left;
}

.wheatherAddress input {
  background: transparent;
  border: 0;
  padding: 1rem;
  color: #e1e1e6;
  font-size: 1rem;
  line-height: 1.6;
}

.wheatherAddress div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wheatherAddress button {
  margin: 24px;
  padding: 0 32px;
  cursor: pointer;
  height: 40px;
  border: 0;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.wheatherAddress button[type="reset"]{
  background: var(--gray-700);
  font-size: 0.875rem;
}

.wheatherAddress button[type="submit"] {
  padding: 0 16px;
  background: var(--red-500);
}

.wheatherAddress button[type="submit"] svg {
  margin-left: 0.5rem;
}

.wheatherAddress button:hover{
  filter: brightness(0.9);
}
