.contentWrapper {
  max-width: 70rem;
  height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 400px;
  column-gap: 2rem;
  position: relative;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .contentWrapper {
    padding: 1.5rem;
    grid-template-columns: 1fr;
  }
}